.contain-to-grid {
	z-index: 100;
	width: 100%;	
	position:fixed;
}

.top-bar {
	background-color: #d6d8dd;
}

.top-bar ul {
	background-color: transparent;
}

.footer {
	bottom: 0;
	height: 100px;
	width: 100%;
}

.footer .right-footer li {
	float:right;
}

.main {
	padding-top: 100px;
	margin-bottom: 125px;
}

.main .title {
	padding-bottom: 25px;
}

.main h2 {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.main .search-button .button{
	width: 100%;
}

.main .switch .switch-paddle {
	background-color: #2199e8;
	width: 6rem;
}

.main .switch .switch-paddle .switch-inactive {
	right: 8%;
}

.main .switch input:checked ~ .switch-paddle::after {
	left: 3.75rem;
}
